* {
margin: 0;
padding: 0;
}

#map {
    height: 100%;
    background-color: grey;
  }
header {
  background-color: rgb(175, 204, 223);
  margin: 30px;
  text-align: center;
  border-bottom: rgb(13, 26, 54) ;
}

